.htd{
    text-align: center;
}

.lefttd{
    text-align: right;
}

.righttd{
    text-align: left;
}

.inputField {
    border:  2px inset grey;
}

.correctLetter {
    color: black;
}

.incorrectLetter {
    color: red;
}

.unvisible {
    visibility : hidden;
}
