.htd{
    text-align: center;
}

.lefttd{
    text-align: right;
}

.righttd{
    text-align: left;
}

.inputField {
    border:  2px inset grey;
    width: 400px;
    height : 20px;
}

.correctLetter {
    color: black;
}

.incorrectLetter {
    color: red;
}


.stage-0 {
    visibility : hidden;
}

.stage-1 {
    visibility : hidden;
}

.stage-2 {
    visibility : hidden;
}

.stage-3 {
    visibility : hidden;
}

.stage-4 {
    visibility : hidden;
}

.stage-5 {
    visibility : hidden;
}

.stage-6 {
    visibility : hidden;
}
